@model IEnumerable<Student_CRUD.Models.User>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Group)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rollnumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isPresent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Group)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rollnumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                    <input type="checkbox" id="vehicle1" name="vehicle1" value="@item.isPresent">
                    <label for="vehicle1"></label><br>
            </td>
            <td>
                    <textarea>@Html.DisplayFor(modelItem => item.Comment)</textarea>
            </td>
            <td>
                <img src="@Html.DisplayFor(modelItem => item.Image)" alt="img" width="50">
            </td>
        </tr>
}
    </tbody>
</table>
